@tailwind base;
@tailwind components;
@tailwind utilities;

.Noto {
  font-family: "Noto Sans JP", sans-serif;
}

.Roboto {
  font-family: "Roboto Slab", serif;
}

.Source3 {
  font-family: "Source Sans 3", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Slab:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
